Send this ipynb file with your code (solution) to econometrics.methods@gmail.com

In the subject of the e-mail, copy and paste only the title of this file without the extension ".ipynb"

Write the name of the members of your group in the e-mail, and not here.

Only one student will send me the solution. This student is responsible to copy other members of the group in the e-mail.

In [0]:
# HIDDEN
import matplotlib
#matplotlib.use('Agg')
from datascience import *
%matplotlib inline
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import numpy as np
import math
import scipy.stats as stats
plt.style.use('fivethirtyeight')

# 1. Classifier

In [2]:
path ='https://github.com/VitorKamada/DataScience/raw/master/Labs/Data/'
iris = Table.read_table(path +'iris.csv')
iris.show(10)

#### Question 1 

List all the features and classes on the table above (you might use code to help you find all classes).

\# TODO: Your answer here.

In [0]:
# Now we assign a color to each class

color_table = Table().with_columns(
    'species', make_array('setosa','versicolor','virginica'),
    'Color', make_array('darkblue', 'gold', 'lightblue')
)

iris = iris.join('species', color_table).drop(6,7)

iris

#### Question 2

Create a scatter graph using only the first 2 features. Is it enough to distinguish the three species?

\# TODO: Your answer here.

In [0]:
# TODO: Your solution here.

#### Question 3

Now we have a unknown iris with sepal_length = 5.1 and  sepal_width= 4.2. Can you classify it? Also, what about an unknown iris with sepal_length = 6 and  sepal_width= 3?

\# TODO: Your answer here.

In [0]:
#Here we make a 3d scatter graph adding one more feature - petal_length.

ax = plt.figure(figsize=(8,8)).add_subplot(111, projection='3d')
ax.scatter(iris.column('sepal_length'), 
           iris.column('sepal_width'), 
           iris.column('petal_length'), 
           c=iris.column('Color'));

# Can you see the light blue dots and gold dots are separted? What if we add more features?

#### Question 4 

Now, can you classify an unknown iris with sepal_length = 6, sepal_width= 3, and petal_length = 5.7?

\# TODO: Your answer here.

#### Question 5

Calculate the distance between iris.row(0) and iris.row(100), iris.row(0) and iris.row(1) using the distance formula.

In [0]:
# TODO: Your solution here.

# 2. Comparing Two Samples

In [0]:
iris_petal_width = iris.select('species', 'petal_width')
iris_petal_width

In [0]:
iris_petal_width_pivot = iris_petal_width.pivot('species', 'petal_width')
iris_petal_width_pivot

In [0]:
def proportions(array):
    return array/np.sum(array)

iris_dists = iris_petal_width_pivot.select(0).with_columns(
   'setosa', proportions(iris_petal_width_pivot.column('setosa')),
    'versicolor', proportions(iris_petal_width_pivot.column('versicolor')),
    'virginica', proportions(iris_petal_width_pivot.column('virginica'))
)

iris_dists.barh('petal_width')

#### Question 1 

Do the 3 distributions look the same or very different?

\# TODO: Your answer here.

#### Question 2

Contruct a simple but accurate classifier based on the observation you have for these distinct distributions.

**Describe how you would classify a data point given simple restraints on feature values.**

\# TODO: Your answer here.

# 3. A Potpourri of Tests

#### Question 1
Many scientific disciplines use 5% as a standard cutoff for rejecting the null hypothesis when conducting hypothesis tests.  Suppose for sake of argument that every scientific paper hinges on exactly one hypothesis test with a 5% cutoff.  After learning about hypothesis testing, Thomas despairs about the state of scientific research, wondering:

> "Doesn't this mean that 5% of all scientific papers are wrong?"

Give one reason why Thomas's worry isn't quite accurate.

\# TODO: Your answer here.

#### Question 2
Many scientists hope to make exciting and unintuitive discoveries.  Often the null hypothesis in an hypothesis test is something boring ("the sky is blue"), while the alternative is surprising ("the sky is not blue!").

Suppose a scientist has an exciting but incorrect idea, so that their null hypothesis is *truly correct*.  When an hypothesis test is run on a sample of data, it fails to reject the null when using a 5% cutoff.  Disappointed but determined, the scientist gathers 10 more samples and runs the same test on each sample (running 10 separate hypothesis tests, each with a 5% cutoff).  If any of the tests rejects the null, the scientist publishes that one.  What is the chance that any of those tests rejects the null hypothesis?

\# TODO: Your answer here.

**Note:** The scientist in this scenario is acting very unethically, but (probably milder) forms of this [*publication bias*](https://en.wikipedia.org/wiki/Publication_bias) seem to be a real problem in science today.

#### Question 3
Explain one advantage and one disadvantage of using a very high confidence level like 99.9999% when computing a confidence interval.  Describe a situation where you would advise using such a high confidence level.

\# TODO: Your answer here.